<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <href rel="stylesheet" href="../Public/css/registro.css"></href>

</head>

<body>
    <div class="container">
        <h2>Registro de usuario </h2>
        <form action="register" method="post"></form>
        <label for="username">ingrese su nombre</label>
        <input type="text" id="username" name="username" required class="input">

        <label for="apellido">ingrese su apellido</label>
        <input type="tex" id="apellido" name="apellido" required>


        <label for="dni"> ingrese su dni </label>
        <input type="text" id="dni" name="dni" required>

        <label for="email"> ingrese su correo electronico</label>
        <input type="text" id="email" name="email" required>

        <label for="fecha de nacimiento">Ingrese fecha de nacimiento</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>


        <label for="password">ingrese contraseña</label>
        <input type="password" id="password" name="password" required>

        <label for="password"> confirme su contraseña</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit">Completar registro</button>
        <h3>¿Ya tengo usuario? <a href="login">Inicia sesión</a></h3>
        <h3>olvide mi contraseña</h3>
        <p>HOLA</p>






    </div>

</body>

</html>